//Estilo grid contacto

.containerContacto {  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header header"
      "form form form"
      "footer footer footer";

      .header { grid-area: header; }
  
      .form { grid-area: form; }
      
      .footer { grid-area: footer; }
  }

  form{
    display: inline-block;
    justify-content: center;
    margin: 15px;
    .formItem{
        display: block;
        margin: 10px;
        padding: 10px;
      }
      .boton{
        background-color: rgb(148, 164, 196);
        margin-top: 20px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 25px;
      }
    }
    .label{
        color: aliceblue;
    }
    
  