// MEDIA QUERIES 

// Flecha para subir 

@media(max-width: 500px){

    .footer{
        .subir{
        display: block;
        position: fixed; 
        right: 0px;
        bottom: 0px;
        img{
        width: 50px;
        height: 50px;
        background-color: crimson;
        border-radius: 50%;
        @include degrade;
        }
      } 
      .music{
        display: none;
        }
    }

    .recomendacion{
        .texto{
            margin: 10px;
            padding: 10px;
            width: 200px;
            height: 530px;
            border: 1px solid black;
            border-radius: 15px;
            background-color: rgb(34, 31, 31);
            color: aliceblue;
            text-align: justify;
          }
          img{  
            width: 200px;
            height: 150px;
          }
      } 
}



